@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
  padding: 0;
  margin: 0;
}
.home{
  min-height: 20em;
}
.home .addBtn {
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
}

.app .judul{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-family: sans-serif;
  margin-top: 20px;
  font-weight: bold;
}

.app table{
  text-align: center;
}
form{
margin-left: 20px;  
margin-top: 20px;
}

.addData{
  min-height: 80em;
}

.addData .btn{
  margin-right: 5px;
}

.search .srcInput{
  border-radius: 3px;
  height: 37px;
  margin:30px 20px 10px 20px;
  border: 1px solid rgb(39, 78, 255);
  width: 250px;
}
.search .btnSearch{
  margin-top: -4px;
  
}

